<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Mini Message Board</h1>

    <div class="message-container">
      <% messages.forEach((message, index) => { %>
      <a class="message" href="/message/<%= index %>">
        <p class="user"><%= message.user %></p>
        <p class="text"><%= message.text %></p>
        <p class="date"><%= new Date(message.added).toLocaleString() %></p>
      </a>
      <% }) %>
    </div>

    <a href="/new" class="new-message">Add a New Message</a>
  </body>
</html>
